*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:600px;
    border: 1px solid black;
    text-align: center;
}
.footer{
    width:100%;
    height:290px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.box1{
    width:350px;
    height:300px;
    margin: 10px;
}
.box1-input{
    width: 330px;
    height: 30px;
    margin:10px;
}
.box2-input{
    width: 750px;
    height: 30px;
    margin:10px;
}
.box3-input{
    width: 750px;
    height:60px;
    margin: 10px;
    padding-top:10px;
    text-align:left;
}
.button{
background-color: red;
color:white;
width: 120px;
height: 30px;
border-radius: 10px;
border: none;

}