*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height:600px;
    /* border: 2px solid black; */
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
}
section{
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top:30px;
}
.box1{
    width: 300px;
    height: 500px;
    border: 2px solid white;
    text-align: left;
    padding:50px;
    background-color:white;
    border: none;

}
.box1-button{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius:20px;
    margin-top: 85px;
    background-color: black;
    color: white;
}

.box2{
    width: 300px;
    height:500px;
    text-align: left;
    padding:50px;
    background-color:white;
    background-color: black;
    color: white;
    border: none;
}
.box2-button{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius:20px;
    background-color:white;
    color: black;
    margin-top: 10px;
}
.box3{
    width: 300px;
    height:500px;
    border: 1px solid black;
    text-align: left;
    padding:50px;
    background-color:white;
    background-color:white;
    color: black;
    border: none;
}
.box3-button{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius:20px;
    background-color:black;
    color:white;
    margin-top: 10px;
}